<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server____NV.Properties.Settings.TestNVConnectionString"
            connectionString="Data Source=ERP-KHANHHL;Initial Catalog=TestNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>